# 110_Economic_Attributes

Going to pull in economic attributes to see how those impact renewal.

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('precision', 2)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_colwidth', 500) # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html

import numpy as np
from sqlalchemy import create_engine
from pandas_datareader import data, wb
import datetime
from math import ceil

In [2]:
start = datetime.datetime(2009, 1, 1)
end = datetime.datetime(2016, 3, 4)

In [3]:
sp_500_index = data.DataReader("gspd", 'yahoo', start, end)
gdp = data.DataReader("GDP", "fred", start, end)
inflation = data.DataReader(["CPIAUCSL", "CPILFESL"], "fred", start, end)
industry_portfolio_5 = data.DataReader("5_Industry_Portfolios", "famafrench")[0]

In [4]:
sp_500_index = sp_500_index.reset_index()
sp_500_index.columns = ['thedate', 'open', 'high', 'low', 'close', 'vol', 'adj_close']
sp_500_index['themonth'] = sp_500_index['thedate'].apply(
    lambda x: pd.tseries.offsets.MonthBegin().rollback(pd.to_datetime(x))
)
sp_500_index['open'] = sp_500_index['open'].astype(float)
sp_500_index['high'] = sp_500_index['high'].astype(float)
sp_500_index['low'] = sp_500_index['low'].astype(float)
sp_500_index['close'] = sp_500_index['close'].astype(float)
sp_500_index['vol'] = sp_500_index['vol'].astype(float)
sp_500_index['adj_close'] = sp_500_index['adj_close'].astype(float)

In [5]:
def get_quarter(date_val):
    quarter_month_dict = {1.0: 1.0, 2.0: 4.0, 3.0: 7.0, 4.0: 10.0}
    quarter_num = ceil(date_val.month/3.)
    month = quarter_month_dict[quarter_num]
    year = date_val.year
    return pd.to_datetime(year*10000 + month*100 + 1, format='%Y%m%d')
    
sp_500_index['quarter_start'] = sp_500_index['thedate'].apply(lambda x: get_quarter(x))

In [6]:
sp_500_index.head(3)

,thedate,open,high,low,close,vol,adj_close,themonth,quarter_start
0,2009-01-02,13.94,15.00,13.71,14.39,72200.00,10.18,2009-01-01,2009-01-01
1,2009-01-05,14.55,14.74,14.01,14.18,80500.00,10.03,2009-01-01,2009-01-01
2,2009-01-06,14.67,14.71,14.10,14.50,109500.00,10.26,2009-01-01,2009-01-01

In [7]:
gdp = gdp.reset_index()
gdp.columns = ['quarter_start', 'gdp']
gdp['gdp'] = gdp['gdp'].astype(float)
gdp.head()

  quarter_start      gdp
0    2009-01-01 14383.90
1    2009-04-01 14340.40
2    2009-07-01 14384.10
3    2009-10-01 14566.50
4    2010-01-01 14681.10

In [8]:
inflation = inflation.reset_index()
inflation.columns = ['themonth', 'cpi_all_urban_consumers', 'cpi_all_urban_consumers_less_food_and_energy']
inflation['cpi_all_urban_consumers'] = inflation['cpi_all_urban_consumers'].astype(float)
inflation['cpi_all_urban_consumers_less_food_and_energy'] = inflation['cpi_all_urban_consumers_less_food_and_energy'].astype(float)
inflation.tail()

,themonth,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy
80,2015-09-01,237.49,243.22
81,2015-10-01,237.95,243.70
82,2015-11-01,238.30,244.14
83,2015-12-01,238.04,244.52
84,2016-01-01,238.11,245.23

In [9]:
industry_portfolio_5 = industry_portfolio_5.reset_index()
industry_portfolio_5.columns = ['themonth', 'consumer', 'manufacturing', 'tech', 'healthcare', 'other']
industry_portfolio_5['themonth'] = industry_portfolio_5.themonth.apply(lambda x: pd.to_datetime(str(x)))
industry_portfolio_5['consumer'] = industry_portfolio_5['consumer'].astype(float)
industry_portfolio_5['manufacturing'] = industry_portfolio_5['manufacturing'].astype(float)
industry_portfolio_5['tech'] = industry_portfolio_5['tech'].astype(float)
industry_portfolio_5['healthcare'] = industry_portfolio_5['healthcare'].astype(float)
industry_portfolio_5['other'] = industry_portfolio_5['other'].astype(float)
industry_portfolio_5.head()

    themonth  consumer  manufacturing  tech  healthcare  other
0 1926-07-01      5.43           2.73  1.83        1.77   2.16
1 1926-08-01      2.76           2.33  2.41        4.25   4.38
2 1926-09-01      2.16          -0.44  1.06        0.69   0.29
3 1926-10-01     -3.90          -2.42 -2.26       -0.57  -2.85
4 1926-11-01      3.70           2.50  3.07        5.42   2.11

In [10]:
economic_features_raw = pd.merge(left=sp_500_index, right=gdp, on=['quarter_start'])
economic_features_raw = pd.merge(left=economic_features_raw, right=inflation, on=['themonth'])
economic_features_raw = pd.merge(left=economic_features_raw, right=industry_portfolio_5, on=['themonth'])
economic_features_raw.head()

,thedate,open,high,low,close,vol,adj_close,themonth,quarter_start,gdp,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,consumer,manufacturing,tech,healthcare,other
0,2009-01-02,13.94,15.00,13.71,14.39,72200.00,10.18,2009-01-01,2009-01-01,14383.90,211.93,217.35,-6.18,-5.29,-4.96,-2.19,-18.29
1,2009-01-05,14.55,14.74,14.01,14.18,80500.00,10.03,2009-01-01,2009-01-01,14383.90,211.93,217.35,-6.18,-5.29,-4.96,-2.19,-18.29
2,2009-01-06,14.67,14.71,14.10,14.50,109500.00,10.26,2009-01-01,2009-01-01,14383.90,211.93,217.35,-6.18,-5.29,-4.96,-2.19,-18.29
3,2009-01-07,14.63,14.63,14.15,14.45,31100.00,10.22,2009-01-01,2009-01-01,14383.90,211.93,217.35,-6.18,-5.29,-4.96,-2.19,-18.29
4,2009-01-08,14.76,14.76,13.80,13.81,69900.00,9.77,2009-01-01,2009-01-01,14383.90,211.93,217.35,-6.18,-5.29,-4.96,-2.19,-18.29

In [11]:
economic_features_raw.tail()

,thedate,open,high,low,close,vol,adj_close,themonth,quarter_start,gdp,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,consumer,manufacturing,tech,healthcare,other
1757,2015-12-24,19.93,19.93,19.83,19.89,31500.00,19.89,2015-12-01,2015-10-01,18148.40,238.04,244.52,0.12,-4.68,-2.63,0.40,-2.63
1758,2015-12-28,19.77,19.94,19.77,19.87,87100.00,19.87,2015-12-01,2015-10-01,18148.40,238.04,244.52,0.12,-4.68,-2.63,0.40,-2.63
1759,2015-12-29,19.88,20.01,19.87,19.95,62100.00,19.95,2015-12-01,2015-10-01,18148.40,238.04,244.52,0.12,-4.68,-2.63,0.40,-2.63
1760,2015-12-30,19.92,20.28,19.92,20.25,98400.00,20.25,2015-12-01,2015-10-01,18148.40,238.04,244.52,0.12,-4.68,-2.63,0.40,-2.63
1761,2015-12-31,20.24,20.44,20.16,20.40,82600.00,20.40,2015-12-01,2015-10-01,18148.40,238.04,244.52,0.12,-4.68,-2.63,0.40,-2.63

In [12]:
economic_features_pvt = pd.pivot_table(
    data=economic_features_raw,
    index=['themonth'],
    values=['open', 'high', 'low', 'close', 'vol', 'adj_close', 'gdp', 'cpi_all_urban_consumers',
           'cpi_all_urban_consumers_less_food_and_energy', 'consumer', 'manufacturing', 'tech', 'healthcare', 'other'],
    aggfunc=np.mean
).reset_index()
economic_features_pvt.head()

,themonth,adj_close,close,consumer,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,gdp,healthcare,high,low,manufacturing,open,other,tech,vol
0,2009-01-01,9.77,13.72,-6.18,211.93,217.35,14383.90,-2.19,14.17,13.37,-5.29,14.02,-18.29,-4.96,86230.00
1,2009-02-01,9.20,12.77,-5.51,212.70,217.79,14383.90,-9.93,13.29,12.27,-12.70,13.05,-14.03,-5.48,62657.89
2,2009-03-01,8.09,11.23,8.53,212.49,218.25,14383.90,7.05,11.58,10.99,5.12,11.31,12.93,10.36,117190.91
3,2009-04-01,9.57,13.18,8.87,212.71,218.71,14340.40,-0.95,13.38,12.85,9.66,13.08,16.42,11.88,170604.76
4,2009-05-01,10.62,14.45,2.07,213.02,218.90,14340.40,6.25,14.55,14.23,7.42,14.38,7.70,2.80,200785.00

In [13]:
# pull out the contract data to determine what economic features to associate for
engine = create_engine('mysql+mysqldb://dmcdade:mcdade@localhost/cchs2')
engine.raw_connection().connection.text_factory = str
economic_features_pvt.to_sql('economic_features_details', engine, index=False, if_exists='replace')

In [14]:
qry = """
SELECT 
    c.OpportunityId, 
    efd.themonth, 
    efd.adj_close, 
    efd.close, 
    efd.consumer, 
    efd.cpi_all_urban_consumers, 
    efd.cpi_all_urban_consumers_less_food_and_energy, 
    efd.gdp, 
    efd.healthcare, 
    efd.high, 
    efd.low, 
    efd.manufacturing, 
    efd.open, 
    efd.other, 
    efd.tech, 
    efd.vol
FROM contract_features c
INNER JOIN economic_features_details efd 
 ON efd.themonth > DATE_ADD(c.ActivityPeriodStart, INTERVAL -100 DAY) 
 AND efd.themonth < DATE_ADD(c.ActivityPeriodEnd, INTERVAL 100 DAY)
"""
economic_contract_details = pd.read_sql_query(qry, engine)
economic_contract_details.head()

,OpportunityId,themonth,adj_close,close,consumer,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,gdp,healthcare,high,low,manufacturing,open,other,tech,vol
0,006C000000fS1cVIAS,2010-07-01,15.06,19.40,6.44,217.60,221.36,15057.70,2.15,19.58,19.24,8.48,19.36,7.48,7.97,169376.19
1,006C000000fS1cVIAS,2010-08-01,16.30,20.82,-3.35,217.92,221.51,15057.70,-1.66,20.95,20.69,-3.79,20.79,-7.51,-5.49,115859.09
2,006C000000fS1cVIAS,2010-09-01,16.73,21.37,9.87,218.28,221.71,15057.70,9.00,21.51,21.30,8.83,21.39,8.83,11.40,127980.95
3,006C000000fS1cVIAS,2010-10-01,17.13,21.80,3.61,219.03,221.83,15230.20,2.01,21.92,21.66,4.33,21.75,2.58,5.96,183023.81
4,006C000000fS1cVIAS,2010-11-01,17.71,22.36,2.89,219.59,222.15,15230.20,-3.33,22.50,22.25,2.46,22.37,0.51,-1.07,123352.38

In [15]:
# Get the count of the value in the grouping
grouped = economic_contract_details.groupby(['OpportunityId'])
grouped.cumcount()

0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19
20       20
21       21
22       22
23       23
24       24
25       25
26       26
27       27
28       28
29       29
30       30
31        0
32        1
33        2
34        3
35        4
36        5
37        6
38        7
39        8
40        9
41       10
42       11
43       12
44       13
45       14
46       15
47       16
48       17
49        0
50        1
51        2
52        3
53        4
54        5
55        6
56        7
57        8
58        9
59       10
60       11
61       12
62       13
63       14
64       15
65       16
66       17
67       18
68        0
69        1
70        2
71        3
72        4
73        5
74        6
75        7
76        8
77        9
78       10
79       11
80       12
81       13
82       14
83       15
84       16
85        0
86        1
87        2
88        3
89        4
90        5
91        6
92        7
93        8
94        9
95       10
96       11
97       12
98       13
99       14
100      15
101      16
102      17
103      18
104       0
105       1
106       2
107       3
108       4
109       5
110       6
111       7
112       8
113       9
114      10
115      11
116      12
117      13
118      14
119      15
120      16
121      17
122      18
123       0
124       1
125       2
126       3
127       4
128       5
129       6
130       7
131       8
132       9
133      10
134      11
135      12
136      13
137      14
138      15
139      16
140      17
141      18
142       0
143       1
144       2
145       3
146       4
147       5
148       6
149       7
150       8
151       9
152      10
153      11
154      12
155       0
156       1
157       2
158       3
159       4
160       5
161       6
162       7
163       8
164       9
165      10
166      11
167      12
168      13
169      14
170      15
171      16
172      17
173       0
174       1
175       2
176       3
177       4
178       5
179       6
180       7
181       8
182       9
183      10
184      11
185      12
186      13
187      14
188      15
189      16
190      17
191       0
192       1
193       2
194       3
195       4
196       5
197       6
198       7
199       8
200       9
201      10
202      11
203      12
204      13
205      14
206      15
207      16
208      17
209       0
210       1
211       2
212       3
213       4
214       5
215       6
216       7
217       8
218       9
219      10
220      11
221      12
222      13
223      14
224      15
225      16
226      17
227      18
228       0
229       1
230       2
231       3
232       4
233       5
234       6
235       7
236       8
237       9
238      10
239      11
240      12
241      13
242      14
243      15
244      16
245      17
246      18
247       0
248       1
249       2
         ..
16341     5
16342     6
16343     7
16344     8
16345     9
16346    10
16347    11
16348    12
16349    13
16350    14
16351     0
16352     1
16353     2
16354     3
16355     4
16356     5
16357     6
16358     7
16359     8
16360     9
16361    10
16362    11
16363    12
16364    13
16365    14
16366     0
16367     1
16368     2
16369     3
16370     4
16371     5
16372     6
16373     7
16374     8
16375     9
16376    10
16377    11
16378    12
16379    13
16380    14
16381     0
16382     1
16383     2
16384     3
16385     4
16386     5
16387     6
16388     7
16389     8
16390     9
16391    10
16392    11
16393    12
16394    13
16395     0
16396     1
16397     2
16398     3
16399     4
16400     5
16401     6
16402     7
16403     8
16404     9
16405    10
16406    11
16407    12
16408    13
16409     0
16410     1
16411     2
16412     3
16413     4
16414     5
16415     6
16416     7
16417     8
16418     9
16419    10
16420    11
16421    12
16422    13
16423    14
16424     0
16425     1
16426     2
16427     3
16428     4
16429     5
16430     6
16431     7
16432     8
16433     9
16434    10
16435    11
16436    12
16437     0
16438     1
16439     2
16440     3
16441     4
16442     5
16443     6
16444     7
16445     8
16446     9
16447    10
16448    11
16449    12
16450    13
16451     0
16452     1
16453     2
16454     3
16455     4
16456     5
16457     6
16458     7
16459     8
16460     9
16461    10
16462    11
16463    12
16464    13
16465     0
16466     1
16467     2
16468     3
16469     4
16470     5
16471     6
16472     7
16473     8
16474     9
16475    10
16476    11
16477    12
16478     0
16479     1
16480     2
16481     3
16482     4
16483     5
16484     6
16485     7
16486     8
16487     9
16488    10
16489    11
16490    12
16491     0
16492     1
16493     2
16494     3
16495     4
16496     5
16497     6
16498     7
16499     8
16500     9
16501    10
16502    11
16503     0
16504     1
16505     2
16506     3
16507     4
16508     5
16509     6
16510     7
16511     8
16512     9
16513    10
16514    11
16515    12
16516     0
16517     1
16518     2
16519     3
16520     4
16521     5
16522     6
16523     7
16524     8
16525     9
16526    10
16527    11
16528     0
16529     1
16530     2
16531     3
16532     4
16533     5
16534     6
16535     7
16536     8
16537     9
16538    10
16539    11
16540    12
16541     0
16542     1
16543     2
16544     3
16545     4
16546     5
16547     6
16548     7
16549     8
16550     9
16551    10
16552    11
16553     0
16554     1
16555     2
16556     3
16557     4
16558     5
16559     6
16560     7
16561     8
16562     9
16563    10
16564    11
16565     0
16566     1
16567     2
16568     3
16569     4
16570     5
16571     0
16572     1
16573     2
16574     3
16575     4
16576     5
16577     6
16578     7
16579     8
16580     9
16581     0
16582     1
16583     2
16584     3
16585     4
16586     5
16587     6
16588     7
16589     8
16590     9
dtype: int64

In [16]:
economic_contract_details['month_index'] = grouped.cumcount()
economic_contract_details.head()

,OpportunityId,themonth,adj_close,close,consumer,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,gdp,healthcare,high,low,manufacturing,open,other,tech,vol,month_index
0,006C000000fS1cVIAS,2010-07-01,15.06,19.40,6.44,217.60,221.36,15057.70,2.15,19.58,19.24,8.48,19.36,7.48,7.97,169376.19,0
1,006C000000fS1cVIAS,2010-08-01,16.30,20.82,-3.35,217.92,221.51,15057.70,-1.66,20.95,20.69,-3.79,20.79,-7.51,-5.49,115859.09,1
2,006C000000fS1cVIAS,2010-09-01,16.73,21.37,9.87,218.28,221.71,15057.70,9.00,21.51,21.30,8.83,21.39,8.83,11.40,127980.95,2
3,006C000000fS1cVIAS,2010-10-01,17.13,21.80,3.61,219.03,221.83,15230.20,2.01,21.92,21.66,4.33,21.75,2.58,5.96,183023.81,3
4,006C000000fS1cVIAS,2010-11-01,17.71,22.36,2.89,219.59,222.15,15230.20,-3.33,22.50,22.25,2.46,22.37,0.51,-1.07,123352.38,4

In [17]:
econmic_features_pvt = pd.pivot_table(
    data=economic_contract_details[economic_contract_details.month_index < 5],
    index='OpportunityId',
    # columns='month_index',
    values=['open', 'high', 'low', 'close', 'vol', 'adj_close', 'gdp', 'cpi_all_urban_consumers',
           'cpi_all_urban_consumers_less_food_and_energy', 'consumer', 'manufacturing', 'tech', 'healthcare', 'other'],
    aggfunc=np.mean
)
econmic_features_pvt.head()

,adj_close,close,consumer,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,gdp,healthcare,high,low,manufacturing,open,other,tech,vol
OpportunityId,,,,,,,,,,,,,,
0061A000010jeqXQAQ,20.00,20.09,0.44,237.66,242.85,18048.54,-0.83,20.16,20.00,-1.27,20.08,-0.19,0.24,72561.30
0061A0000116vqWQAQ,20.06,20.10,0.68,237.84,243.26,18095.48,-0.71,20.18,20.01,-0.67,20.09,0.11,0.91,75051.03
0061A000011IQiHQAW,19.10,19.89,1.37,236.77,239.31,17603.82,1.81,19.97,19.83,-1.72,19.90,0.01,-0.23,84307.20
0061A000011IonNQAS,20.09,20.09,-0.13,237.90,243.67,18113.12,-1.36,20.17,19.99,-0.95,20.09,-0.82,-0.07,74416.48
0061A000011Jh30QAC,20.06,20.10,0.68,237.84,243.26,18095.48,-0.71,20.18,20.01,-0.67,20.09,0.11,0.91,75051.03

In [18]:
econmic_features_pvt.describe()

,adj_close,close,consumer,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,gdp,healthcare,high,low,manufacturing,open,other,tech,vol
count,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00,926.00
mean,18.60,20.41,1.41,233.77,235.01,16898.72,2.03,20.51,20.30,0.78,20.41,1.41,1.40,115362.79
std,1.11,1.00,0.91,3.25,4.11,611.03,1.01,1.00,0.99,1.34,1.00,1.31,1.02,34265.49
min,15.37,18.57,-1.91,218.49,221.71,15126.70,-2.12,18.77,18.34,-4.52,18.55,-5.21,-3.25,68974.96
25%,17.73,19.85,0.74,232.02,232.45,16429.24,1.43,19.92,19.76,-0.24,19.85,0.58,0.97,93819.50
50%,19.01,20.10,1.25,234.78,235.63,16968.28,1.95,20.25,20.00,1.23,20.11,1.47,1.44,102599.95
75%,19.28,20.92,2.13,236.37,238.46,17490.44,2.69,21.00,20.83,1.75,20.91,2.14,1.92,122989.79
max,20.41,22.90,3.89,238.17,244.33,18148.40,4.03,23.02,22.72,4.49,22.90,4.69,4.44,204477.94

In [31]:
# economic_features = pd.DataFrame()
# level_0 = econmic_features_pvt.columns.levels[0]
# for level in level_0:
    # metric_data = econmic_features_pvt[level].loc[:, :11].copy()  # from describe very few records more than a year
    # metric_data.columns = ['{0}_{1}'.format(level, col) for col in metric_data.columns.astype(str)]
    # economic_features = pd.concat([economic_features, metric_data], axis=1)
# economic_features.head()

In [21]:
economic_features = econmic_features_pvt.reset_index()
# full month by month doesnt make sense. removing
# economic_features = economic_features.reset_index()
economic_features.head()
economic_features.to_sql('economic_features', engine, index=False, if_exists='replace', chunksize=10000)

In [22]:
economic_features.head()

,OpportunityId,adj_close,close,consumer,cpi_all_urban_consumers,cpi_all_urban_consumers_less_food_and_energy,gdp,healthcare,high,low,manufacturing,open,other,tech,vol
0,0061A000010jeqXQAQ,20.00,20.09,0.44,237.66,242.85,18048.54,-0.83,20.16,20.00,-1.27,20.08,-0.19,0.24,72561.30
1,0061A0000116vqWQAQ,20.06,20.10,0.68,237.84,243.26,18095.48,-0.71,20.18,20.01,-0.67,20.09,0.11,0.91,75051.03
2,0061A000011IQiHQAW,19.10,19.89,1.37,236.77,239.31,17603.82,1.81,19.97,19.83,-1.72,19.90,0.01,-0.23,84307.20
3,0061A000011IonNQAS,20.09,20.09,-0.13,237.90,243.67,18113.12,-1.36,20.17,19.99,-0.95,20.09,-0.82,-0.07,74416.48
4,0061A000011Jh30QAC,20.06,20.10,0.68,237.84,243.26,18095.48,-0.71,20.18,20.01,-0.67,20.09,0.11,0.91,75051.03